ion-grid.login{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    form{
        width:300px;
        .form-button{
            width:100%;
            display:flex;
            padding-top:10px;
        }
        .form-button.left{
            justify-content: flex-start;
        }
        .form-button.right{
            justify-content: flex-end;
        }
    }
}

ion-content.container{
    .container{
      background-color: #B6E7B4;
      width:100%;
      height:100%;
    }
  }
  
  
  
  *{
    font-family: Fredoka;
  }


